@{
	Layout = "AdminLayout";
}
@model Product
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/EditFrom/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/EditFrom/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/EditFrom/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/EditFrom/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/EditFrom/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/EditFrom/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/EditFrom/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/EditFrom/css/main.css">
	<!--===============================================================================================-->
	
	
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="~/Products/@Model.Image" alt="IMG">
					
				</div>

				<form class="login100-form validate-form" asp-action="Edit" asp-controller="Product" method="post">
					<span class="login100-form-title">
						Edit Product 
					</span>

					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						
						<input class="input100" asp-for="Id" placeholder="ID" value="@Model.Id" readonly>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<input  type="hidden" asp-for="Image"/>

					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						
						<input class="input100" asp-for="Name" placeholder="Name" value="@Model.Name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-unlock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						
						<input class="input100" asp-for="Price" placeholder="Price" value="@Model.Price">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-unlock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						
						<input class="input100" asp-for="Section" placeholder="Product Section" value="@Model.Section">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-unlock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Update 
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="~/EditFrom/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/EditFrom/vendor/bootstrap/js/popper.js"></script>
	<script src="~/EditFrom/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/EditFrom/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>